html {
  
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  line-height: 1.4;
  text-align: justify;
}
.logo {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    font-size: 2em;
    letter-spacing: 0.5px;
    color: #fff;
}
.yellow {
    color: #e0ce00;
}

.card img {
  cursor: pointer;
  width: 243.33px;
  height: 250px;
  object-fit: cover;
  object-position: left top;
}